In [64]:
## import libraries

import numpy as np
import pandas as pd

import seaborn as sns
import matplotlib.pyplot as plt

In [65]:
pd.options.display.float_format = '{:,.2f}'.format

In [66]:
## load data

path = 'data/df_adjt_start.csv'
df = pd.read_csv(path, index_col=0)

In [67]:
df.head()

,pk_cid,short_term_deposit,loans,mortgage,funds,securities,long_term_deposit,credit_card,debit_card,payroll,...,entry_channel,active_customer,segment,country_id,region_code,gender,age,deceased,salary,SalaryCategory
pk_partition,,,,,,,,,,,,,,,,,,,,,
2018-01-28,1375586,0,0,0,0,0,0,0,0,0.00,...,KHL,1.00,02 - PARTICULARES,ES,Malaga,H,35,N,"87,218.10",med_income
2018-01-28,1050611,0,0,0,0,0,0,0,0,0.00,...,KHE,0.00,03 - UNIVERSITARIO,ES,Ciudad Real,V,23,N,"35,548.74",low_income
2018-01-28,1050612,0,0,0,0,0,0,0,0,0.00,...,KHE,0.00,03 - UNIVERSITARIO,ES,Ciudad Real,V,23,N,"122,179.11",upper_income
2018-01-28,1050613,1,0,0,0,0,0,0,0,0.00,...,KHD,0.00,03 - UNIVERSITARIO,ES,Zaragoza,H,22,N,"119,775.54",med_income
2018-01-28,1050614,0,0,0,0,0,0,0,0,0.00,...,KHE,1.00,03 - UNIVERSITARIO,ES,Zaragoza,V,23,N,"117,340.99",med_income

In [68]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5962924 entries, 2018-01-28 to 2019-05-28
Data columns (total 31 columns):
 #   Column              Dtype
---  ------              -----
 0   pk_cid              int64
 1   short_term_deposit  int64
 2   loans               int64
 3   mortgage            int64
 4   funds               int64
 5   securities          int64
 6   long_term_deposit   int64
 7   credit_card         int64
 8   debit_card          int64
 9   payroll             float64
 10  pension_plan        float64
 11  payroll_account     int64
 12  emc_account         int64
 13  em_account_p        int64
 14  em_acount           int64
 15  year_x              int64
 16  month_x             int64
 17  year_month_x        object
 18  Total_products      int64
 19  Total_accounts      int64
 20  entry_date          object
 21  entry_channel       object
 22  active_customer     float64
 23  segment             object
 24  country_id          object
 25  region_code         object
 26  gender              object
 27  age                 int64
 28  deceased            object
 29  salary              float64
 30  SalaryCategory      object
dtypes: float64(4), int64(18), object(9)
memory usage: 1.4+ GB

In [70]:
products = df.columns[1:15]
products

Index(['short_term_deposit', 'loans', 'mortgage', 'funds', 'securities',
       'long_term_deposit', 'credit_card', 'debit_card', 'payroll',
       'pension_plan', 'payroll_account', 'emc_account', 'em_account_p',
       'em_acount'],
      dtype='object')

In [71]:
df.drop(['year_x','month_x','year_month_x','Total_products','Total_accounts','SalaryCategory'], axis = 1, inplace=True)

In [72]:
df.index.unique()

Index(['2018-01-28', '2018-02-28', '2018-03-28', '2018-04-28', '2018-05-28',
       '2018-06-28', '2018-07-28', '2018-08-28', '2018-09-28', '2018-10-28',
       '2018-11-28', '2018-12-28', '2019-01-28', '2019-02-28', '2019-03-28',
       '2019-04-28', '2019-05-28'],
      dtype='object', name='pk_partition')

In [73]:
df_last_month = df.copy()
partitions = df.index.unique()

for partition in partitions[:-1]:
    df_last_month.drop(partition,inplace=True)

In [145]:
df_other_month = df.copy()
partitions = df.index.unique()

for partition in partitions[:-2]:
    df_other_month.drop(partition,inplace=True)

In [74]:
df_last_month.index.unique()

Index(['2019-05-28'], dtype='object', name='pk_partition')

## CLUSTERS

In [75]:
## AGE and PRODUCTS

df_last_month['age'].describe()

count   442,995.00
mean         30.40
std          12.24
min           2.00
25%          22.00
50%          25.00
75%          35.00
max         105.00
Name: age, dtype: float64

In [117]:
df_products_ages = pd.DataFrame(index=['u18','18-30','31-40','41-50','51-60','61-70','71-80','o80'], columns=products)

In [119]:
for prod in products:    
    df_products_ages.loc['u18',prod] = df[df['age']<18][prod].sum()
    df_products_ages.loc['18-30',prod] = df[(df['age']>18)&(df['age']<30)][prod].sum()
    df_products_ages.loc['31-40',prod] = df[(df['age']>30)&(df['age']<40)][prod].sum()
    df_products_ages.loc['41-50',prod] = df[(df['age']>40)&(df['age']<50)][prod].sum()
    df_products_ages.loc['51-60',prod] = df[(df['age']>50)&(df['age']<60)][prod].sum()
    df_products_ages.loc['61-70',prod] = df[(df['age']>60)&(df['age']<70)][prod].sum()
    df_products_ages.loc['71-80',prod] = df[(df['age']>70)&(df['age']<80)][prod].sum()
    df_products_ages.loc['o80',prod] = df[df['age']>80][prod].sum()

In [126]:
df_products_ages = df_products_ages.T
df_products_ages

,u18,18-30,31-40,41-50,51-60,61-70,71-80,o80
short_term_deposit,0,829,4243,4116,2205,1406,731,379
loans,0,217,139,46,41,0,0,0
mortgage,0,13,111,70,94,0,0,0
funds,0,1705,3947,4360,4372,2149,814,805
securities,0,2426,5674,5655,3515,1579,746,456
long_term_deposit,0,4097,16782,24475,19525,12468,7761,6292
credit_card,0,7141,23912,18805,9470,3258,927,222
debit_card,0,148211,197534,100593,42144,14948,4127,2940
payroll,8.00,"53,188.00","75,154.00","36,690.00","15,770.00","3,555.00",297.00,110.00
pension_plan,187.00,"55,257.00","76,087.00","37,999.00","16,715.00","6,098.00","1,806.00","1,699.00"
payroll_account,0,94829,112525,54315,23104,8068,2498,2230
emc_account,0,32639,98529,81919,42999,21272,9869,7141
em_account_p,0,15,0,0,0,17,0,0
em_acount,49,3174805,513661,279078,142885,62555,23943,15688

In [129]:
## MOST POPULAR PRODUCTS IN SPAIN

df_spain = df[df['country_id']=='ES']

In [133]:
df_spain[products].sum()

short_term_deposit      15,390.00
loans                      468.00
mortgage                   324.00
funds                   20,065.00
securities              22,039.00
long_term_deposit      100,455.00
credit_card             70,747.00
debit_card             562,641.00
payroll                205,770.00
pension_plan           217,781.00
payroll_account        329,387.00
emc_account            326,542.00
em_account_p                34.00
em_acount            4,379,978.00
dtype: float64

In [135]:
## Regions and products

df_products_region = pd.DataFrame(index=df['region_code'].unique(), columns=products)

In [137]:
for region in df['region_code'].unique():
    for prod in products:
        df_products_region.loc[region,prod] = df[df['region_code']==region][prod].sum()

In [138]:
df_products_region

,short_term_deposit,loans,mortgage,funds,securities,long_term_deposit,credit_card,debit_card,payroll,pension_plan,payroll_account,emc_account,em_account_p,em_acount
Malaga,403,24,0,219,359,1511,1955,19612,"5,978.00","6,377.00",10185,8030,0,148179
Ciudad Real,150,0,0,249,166,731,450,5093,"1,213.00","1,317.00",2105,2557,0,58074
Zaragoza,393,0,17,449,606,1660,1205,8063,"3,055.00","3,196.00",5134,5422,0,110031
Toledo,153,8,0,187,283,978,1045,8712,"3,265.00","3,417.00",5142,3750,0,77714
Leon,135,0,0,252,270,715,501,4833,"1,481.00","1,584.00",2406,2463,0,26445
Guipuzcoa,186,0,0,184,156,829,511,2553,814.00,828.00,1390,2634,0,12172
Caceres,110,0,0,62,108,515,357,4147,"1,038.00","1,126.00",2024,1830,0,72709
Gerona,82,0,0,68,111,403,520,3019,"1,167.00","1,235.00",1902,1854,0,36494
Zamora,38,0,0,65,119,311,182,2300,519.00,534.00,883,868,0,26477
Barcelona,1342,34,29,1526,1737,7710,6622,39559,"17,854.00","18,561.00",28532,25464,0,405183
Salamanca,132,0,0,155,283,869,536,6095,"1,541.00","1,688.00",3014,2637,0,80567
Burgos,180,8,9,207,282,1117,579,4061,"1,542.00","1,662.00",2389,3249,0,37765
Huesca,34,0,0,124,50,343,179,1100,482.00,497.00,717,674,0,17321
Navarra,160,0,0,153,207,502,327,2490,742.00,792.00,1217,2187,0,23392
Avila,38,0,0,0,58,327,134,2163,495.00,577.00,968,1099,0,16838
Segovia,85,0,0,34,85,341,236,1853,607.00,657.00,979,1060,0,15914
Lugo,66,16,0,46,111,309,293,3038,706.00,734.00,1112,989,0,45685
Lerida,76,2,0,81,76,247,208,1743,609.00,655.00,1146,943,0,38051
Madrid,5010,154,187,9135,7816,47289,27985,168566,"73,595.00","78,088.00",111904,130571,34,636229
Alicante,399,0,0,386,682,2302,2171,22584,"7,318.00","7,672.00",12296,9169,0,128447
Soria,27,17,0,12,28,166,74,687,205.00,206.00,320,394,0,6963
Sevilla,558,24,17,563,745,2604,2606,29029,"9,345.00","9,862.00",15024,11238,0,228976
Cantabria,259,8,17,268,722,1501,874,8270,"3,166.00","3,414.00",5288,4340,0,53157
Baleares,216,0,0,239,273,804,1219,7369,"2,785.00","2,914.00",4359,3805,0,43221
Valladolid,310,0,0,353,308,1823,806,9096,"3,058.00","3,208.00",5647,5085,0,95254
Pontevedra,209,0,0,212,340,1027,1178,11947,"3,315.00","3,571.00",5272,4281,0,150502
Valencia,830,49,28,924,1303,4374,3517,33767,"12,201.00","12,628.00",19859,19607,0,276525
Teruel,8,0,0,50,19,78,94,527,169.00,198.00,271,465,0,10907
La Coruna,321,0,0,261,579,2008,1404,15393,"4,321.00","4,578.00",7280,6134,0,219375
Orense,58,2,0,50,61,308,255,3900,879.00,921.00,1434,917,0,47596
Jaen,143,15,0,141,116,451,474,4883,"1,514.00","1,597.00",2491,2223,0,21690
Cuenca,44,0,15,38,19,281,118,1762,547.00,555.00,873,598,0,31638
Vizcaya,444,0,0,432,322,1969,655,4437,"1,354.00","1,386.00",2252,5615,0,21992
Castellon,130,15,0,193,255,1072,699,6477,"2,406.00","2,457.00",3823,3398,0,55109
La Rioja,100,0,0,161,159,618,291,2193,813.00,864.00,1298,2017,0,28148
Albacete,76,0,0,93,78,478,445,4805,"1,455.00","1,501.00",2337,1856,0,61201
Badajoz,113,0,0,158,158,593,482,6127,"1,627.00","1,682.00",2729,2291,0,103889
Murcia,332,21,0,242,427,1393,1248,18410,"5,841.00","6,174.00",9586,5943,0,251387
Cadiz,255,5,0,155,388,989,1086,14124,"4,176.00","4,545.00",7098,5179,0,130759
Almeria,96,0,0,125,88,584,464,5244,"1,897.00","1,974.00",2938,2559,0,21542
Guadalajara,132,0,0,140,118,753,493,3116,"1,395.00","1,489.00",2163,2029,0,12220
Palencia,91,0,0,75,79,311,219,2163,697.00,729.00,1083,1239,0,22517
Las Palmas,178,21,0,212,195,948,1374,13727,"5,209.00","5,878.00",8125,5025,0,96470
Cordoba,210,17,0,263,282,801,589,6303,"1,743.00","1,897.00",3144,3288,0,61538
Huelva,89,0,0,66,115,413,427,5102,"1,578.00","1,727.00",2875,1902,0,59813
Granada,247,17,0,242,225,978,832,10912,"2,945.00","3,148.00",4952,4562,0,76152
Asturias,338,0,0,332,550,1707,1032,10565,"3,270.00","3,359.00",5198,5662,0,112943
Santa Cruz de Tenerife,115,11,5,120,99,755,737,5173,"1,802.00","1,936.00",2749,2893,0,16846
Melilla,11,0,0,42,16,26,68,265,80.00,84.00,166,153,0,1835
Tarragona,106,0,0,176,204,600,624,3579,"1,303.00","1,422.00",2180,2127,0,36038
Alava,164,0,0,138,193,902,268,1329,476.00,501.00,889,2010,0,8329
Not_available,4,0,0,34,94,205,131,336,25.00,29.00,34,419,0,1624
Ceuta,8,0,0,7,10,131,87,367,169.00,171.00,238,257,0,1759

In [143]:
## Active customer vs Products

df_last_month.loc[df_last_month['active_customer']==0,products].sum()

short_term_deposit         0.00
loans                      0.00
mortgage                   0.00
funds                      2.00
securities                 4.00
long_term_deposit          0.00
credit_card               22.00
debit_card               194.00
payroll                   32.00
pension_plan              36.00
payroll_account          806.00
emc_account            2,986.00
em_account_p               0.00
em_acount            161,699.00
dtype: float64

In [155]:
df_last_month.loc[df_last_month['active_customer']==0].head()

,pk_cid,short_term_deposit,loans,mortgage,funds,securities,long_term_deposit,credit_card,debit_card,payroll,...,entry_date,entry_channel,active_customer,segment,country_id,region_code,gender,age,deceased,salary
pk_partition,,,,,,,,,,,,,,,,,,,,,
2019-05-28,657817,0,0,0,0,0,0,0,0,0.00,...,2019-05-12,Not_available,0.00,Not_available,ES,Barcelona,V,32,N,"109,639.79"
2019-05-28,657147,0,0,0,0,0,0,0,0,0.00,...,2017-06-09,KAT,0.00,02 - PARTICULARES,ES,Madrid,H,62,N,"104,881.71"
2019-05-28,655419,0,0,0,0,0,0,0,0,0.00,...,2016-05-20,KFC,0.00,02 - PARTICULARES,ES,Madrid,H,54,N,"157,268.85"
2019-05-28,656942,0,0,0,0,0,0,0,0,0.00,...,2017-10-26,KAT,0.00,02 - PARTICULARES,ES,Sevilla,H,65,N,"73,785.12"
2019-05-28,661894,0,0,0,0,0,0,0,0,0.00,...,2017-11-24,KHK,0.00,02 - PARTICULARES,ES,Barcelona,V,47,N,"85,997.55"

In [144]:
df_last_month.loc[df_last_month['active_customer']==1,products].sum()

short_term_deposit         2.00
loans                     30.00
mortgage                  23.00
funds                  1,313.00
securities             1,785.00
long_term_deposit      6,129.00
credit_card            4,779.00
debit_card            43,067.00
payroll               16,301.00
pension_plan          17,317.00
payroll_account       25,723.00
emc_account           21,765.00
em_account_p               2.00
em_acount            134,681.00
dtype: float64

In [142]:
df.head()

,pk_cid,short_term_deposit,loans,mortgage,funds,securities,long_term_deposit,credit_card,debit_card,payroll,...,entry_date,entry_channel,active_customer,segment,country_id,region_code,gender,age,deceased,salary
pk_partition,,,,,,,,,,,,,,,,,,,,,
2018-01-28,1375586,0,0,0,0,0,0,0,0,0.00,...,2018-01-12,KHL,1.00,02 - PARTICULARES,ES,Malaga,H,35,N,"87,218.10"
2018-01-28,1050611,0,0,0,0,0,0,0,0,0.00,...,2015-08-10,KHE,0.00,03 - UNIVERSITARIO,ES,Ciudad Real,V,23,N,"35,548.74"
2018-01-28,1050612,0,0,0,0,0,0,0,0,0.00,...,2015-08-10,KHE,0.00,03 - UNIVERSITARIO,ES,Ciudad Real,V,23,N,"122,179.11"
2018-01-28,1050613,1,0,0,0,0,0,0,0,0.00,...,2015-08-10,KHD,0.00,03 - UNIVERSITARIO,ES,Zaragoza,H,22,N,"119,775.54"
2018-01-28,1050614,0,0,0,0,0,0,0,0,0.00,...,2015-08-10,KHE,1.00,03 - UNIVERSITARIO,ES,Zaragoza,V,23,N,"117,340.99"

In [ ]:
# what does it make a customer non active??